.circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: auto;
    position: relative;
    height: 350px;
    text-align: center;
    cursor: pointer;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}


.circular-text span {
    position: absolute;
    display: inline-block;
    font-size: 3rem;
    color: #FFFFFF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

    @media (max-width: 768px) {
        .circular-text span {
            font-size: 1.5rem;
            width: auto;

        }
        .circular-text {
            font-size: 1.5rem;
            height: 250px;
        }

    }

        .wrapper {
            padding-left: 20px;
            padding-right: 20px;

            padding-top: 20px;

            .letter {
                transition: ease-out 1s;
                transform: translateY(40%);
            }

            .shadow {
                transform: scale(1, -1);
                color: #ff0000;
                transition: ease-in 5s, ease-out 5s;
            }

            &:hover {
                .letter {
                    transform: translateY(-200%);
                }

                .shadow {
                    opacity: 0;
                    transform: translateY(200%);
                }
            }
        }

